In [4]:
#connect python to mssql

import pyodbc 

conn = pyodbc.connect('Driver={SQL Server};'
                      'Server=DESKTOP;'
                      'Database=REFECTORY;'
                      'Trusted_Connection=yes;')

cursor = conn.cursor()
cursor.execute('SELECT * FROM Product')

for i in cursor:
    print(i)

(2, 'Cream Soups', Decimal('5.0000'), 1)
(3, 'Chicken Soup', Decimal('6.0000'), 1)
(4, 'Tomato Soups', Decimal('4.0000'), 1)
(5, 'Mushroom Soups', Decimal('4.0000'), 1)
(6, 'Lentil Soup', Decimal('4.0000'), 1)
(7, 'Tarhana Soup', Decimal('4.0000'), 1)
(8, 'Shepherdâ€™s salad ', Decimal('5.0000'), 2)
(9, 'Caesar Salad', Decimal('5.0000'), 2)
(10, 'Purple Cabbage Salad', Decimal('5.0000'), 2)
(11, 'Chicken Salad', Decimal('5.0000'), 2)
(12, 'Russian Salad', Decimal('5.0000'), 2)
(13, 'Zucchini Dish', Decimal('7.0000'), 3)
(14, 'Aubergine Dish', Decimal('7.0000'), 3)
(15, 'Green Beans Dish', Decimal('7.0000'), 3)
(16, 'Lentil Dish', Decimal('7.0000'), 3)
(17, 'Green Pea Dish', Decimal('8.0000'), 3)
(18, 'Okra Dish', Decimal('5.0000'), 3)
(19, 'Patato Dish', Decimal('6.0000'), 3)
(20, 'Broad Bean Dish', Decimal('6.0000'), 3)
(21, 'Reddish Shell Bean Dish', Decimal('6.0000'), 3)
(22, 'Meat Stew ', Decimal('10.0000'), 4)
(23, 'Meatball', Decimal('9.0000'), 4)
(24, 'Okra with meat ', Decimal('8.0000'), 4)
(25, 'Fish', Decimal('10.0000'), 4)
(26, 'Sauteed meat', Decimal('10.0000'), 4)
(27, 'Chicken', Decimal('7.0000'), 4)
(28, 'Cola', Decimal('5.0000'), 5)
(29, 'Ayran', Decimal('5.0000'), 5)
(30, 'Lemonade', Decimal('5.0000'), 5)
(31, 'Fruit juice', Decimal('5.0000'), 5)
(32, 'Apple', Decimal('1.0000'), 6)
(33, 'Orange', Decimal('1.0000'), 6)
(34, 'Strawberry', Decimal('3.0000'), 6)
(35, 'Banana', Decimal('2.0000'), 6)
(36, 'Pear', Decimal('2.0000'), 6)
(37, 'Apricot', Decimal('2.0000'), 6)
(1041, 'ekmek', Decimal('5.0000'), 6)